
#
#   JAVA 
#
Java/nbproject/private/
Java/build/
Java/nbbuild/
Java/dist/
Java/nbdist/
Java/.nb-gradle/
Java/nbactions.xml


#
#   PYTHON
#
Python/.vscode/
Python/__pycache__

#
# C/C++
#

Debug/
Release/
*.dll

*.filters
*.user
*.aps

.vs/

CMakeCache.txt
cmake_install.cmake
CMakeFiles/


#other
*.vscode
C/dsa
C/DSA
