
#
#   JAVA 
#
#Gradle
.gradle/
java/build/
java/gradle-app.setting
java/.classpath
#netbeans
java/nbproject/private/
java/build/
java/nbbuild/
java/dist/
java/nbdist/
java/.nb-gradle/
java/nbactions.xml

ignored)
!gradle-wrapper.jar
.gradletasknamecache

#
#   PYTHON
#
Python/.vscode/
Python/__pycache__

#
# C/C++
#

Debug/
Release/
*.dll

*.filters
*.user
*.aps

.vs/

CMakeCache.txt
cmake_install.cmake
CMakeFiles/

Makefile

DSA
dsa

run.sh

#other
*.vscode
C/dsa
C/DSA

*bin
